.color-name{
    color: tomato;
}

.rgb{
    color: rgb(239, 116, 34);
}

.opacity{
    opacity: 0.2;
}

.rgba{
    color: rgba(247, 1, 206, 0.5);
}

.hexcode{
    color: #ffca4b;
}

.background-color{
    background-color: #0b1f65;
    color: white;
}